.hero-card {
  align-items: center;
  padding: 12px;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-bottom: 6px solid #deb400;
  background: #353535;
  box-shadow: 0px 0px 26.73984px 0px rgba(0, 0, 0, 0.08);
  //max-width: 205px;
  height: 98px;
  color: #fff;
  //margin-right: 10px;
  h3 {
    color: #fff;
    //font-family: Inter;
    margin-bottom: 0px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.603px; /* 126.885% */
  }
  p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0px;
  }
}

.card-header {
  //padding: 6px 3px;
  padding: 0 10px;
  .col {
  }
}
