.hero-container {
 // height: 757px;
}
.tag {
  border-radius: 4px;
  background: #353535;
  margin: 48px 0 16px;
  color: #ffce00;
  width: 275px;
  height: 20px  ;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  p {
    padding: 4px 0;
  }
}
.intro-section {
  max-width: 846px;
//  height: 757px;
}
.hero-heading {
  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%; /* 72px */
    letter-spacing: 2.4px;
    margin-bottom: 20px;
  }
  p {
    max-width: 632px;
    color: #656565;
    //font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
  }
  .hero-bg {
    background-repeat: no-repeat;
    background-size: 800px;
    //height: 367px;
    background-image: url("../assets/images/hero-banner.png");
  }

  .hero-buttons {
    max-width: 605px;
  }
}
.scroll-sec {
  width: 520px;
  //height: 534px;
}
.scroll-banner-section {
  height: 534px;
  overflow: hidden;
  position: relative; /* Add relative positioning */
  //white-space: nowrap;
  box-shadow: inset 0 0 10px white;
}

.collage {
  //display: flex;
  display: inline-block;

  flex-direction: column;
  animation: scrollImages 20s linear infinite;
  //position: absolute; /* Add absolute positioning */
  //top: 0; /* Start from the top of the container */
}

.collage img {
  width: 100%;
  height: auto;
  margin: 0;
  box-sizing: border-box;
  margin: 20px 20px 0;
}
.collage-2 {
  //display: flex;
  display: inline-block;

  flex-direction: column;
  animation: scrollImages 30s linear infinite;
  //position: absolute; /* Add absolute positioning */
  //top: 0; /* Start from the top of the container */
}

.collage-2 img {
  width: 100%;
  height: auto;
  margin: 0;
  box-sizing: border-box;
  margin: 20px 20px 0;
}

@keyframes scrollImages {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%); /* Move images up by their height */
  }
}
.card-content {
  margin-top: 168px;
}
@media screen and (max-width: 1024px) {
  .hero-container {
   // height: 1500px;
  }
  .scroll-sec {
    width: auto;
    margin-top: 20px;
    //height: 675px;
  }
  .intro-section {
    width: auto;
    max-width: none;
   // height: 750px;
  }
  .card-content {
    //margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .hero-container {
  //  height: 1430px;
  }
  .scroll-sec {
    width: auto;
    //height: 675px;
  }
  .intro-section {
    max-width: 846px;
   // height: 830px;
  }
  .card-content {
    //margin-top: 190px;
  }
}
@media screen and (max-width: 500px) {
  .hero-container {
    //height: 1630px;
    .hero-heading {
      h1 {
        color: #2d2d2d;
        //font-family: Mona-Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 38.4px */
      }
      p{
        font-size: 16px;
      }
    }
  }
  .intro-section {
    max-width: 846px;
    //height: 500px;
  }
  .scroll-sec {
    width: auto;
    //height: 675px;
  }
  .card-content {
    margin-top: 10px;
  }
  .hero-buttons {
    button {
      margin-bottom: 10px;
    }
  }
}
@media screen and (max-width: 425px) {
  .hero-container {
   // height: 1600px;
  }
  .intro-section {
    max-width: 846px;
   // height: 500px;
  }
  .scroll-sec {
    width: auto;
   // height: 675px;
  }
  .card-content {
    margin-top: 10px;
  }
  .hero-buttons {
    button {
      margin-bottom: 10px;
    }
  }
}
