.info-section {
  background-image: url("../assets/images/germanyBg.png");
  height: 1017px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
@media (max-width: 768px) {
  .info-section {
    padding: 50px 16px 0;
    height: 1936px;
    .info-header {
      text-align: left;
    }
    h1 {
      //text-align: left;
      color: #fff;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 57.6px */
      letter-spacing: 1.92px;
      //margin-bottom: 24px;
    }
    .para-1,
    .para-2 {
      text-align: left;
      width: 80%;
    }
    p {
      //text-align: left;
      font-size: 16px;
    }
    .para-1 {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 30px */
      letter-spacing: 0.8px;
      margin-bottom: 36px;
    }
    .para-2 {
      color: #fafafa;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 27px */
      letter-spacing: -0.1px;
      margin-bottom: 72px;
    }
    .statistics {
      margin-bottom: 64px;
      .col-12 {
        h1 {
          margin-bottom: 8px;
          font-size: 48px;
        }
      }
    }
    .statistics-cards {
      margin-bottom: 80px;
      text-align: left;
      .card {
        border-radius: 12px;
        border: 1px solid #8d8d8d;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(2px);
        padding: 24px 16px;
        color: #fff;
        // text-align: left;
        h3 {
          color: #fafafa;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: 30px; /* 136.364% */
          letter-spacing: -0.22px;
        }
      }
    }
    .btn {
      width: 270px;
    }
  }
}
